body {
    font-family: Arial, sans-serif;
    font-weight: 600; /* semi-bold */
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #add8e6 0%, #f0f0f0 100%); /* light pale blue with fade-out effect */
}

h1 {
    background-color: #86C5DA;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #86C5DA;
}

th, td {
    padding: 15px;
    text-align: center;
	font: bold;
	font-size: large;
}

th {
    background-color: #86C5DA;
    color: #fff;
}

label {
	padding: 15px;
    cursor: default;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"], form input[type="number"] {
    margin-right: 10px;
    padding: 5px;
}

form input[type="submit"] {
    padding: 5px 10px;
    background-color: #86C5DA;
	color: #fff;
    border: none;
    cursor: pointer;
	font: bold;
	font-size: large;
}

<head>
    <title>Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
